<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.MaizaNorthwindConnectionString"
            connectionString="Data Source=MaizaNorthwind.mssql.somee.com;Initial Catalog=MaizaNorthwind;User ID=JoelMaiza_SQLLogin_1;Password=hu25tive2d"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>